@{
	ViewData["Title"] = "O aplikaci";
}

<div class="container-fluid aboutapp">
	<div class="container mt-3 w-75">
	<h1 class="mb-3">@ViewData["Title"]</h1>
	<p class="fs-5">
		Aplikace byla vytvořena jako projekt k závěrečné zkoušce v rekvalifikačním kurzu Programátor WWW v C# .NET <a href="https://itnetwork.cz" target="_blank">itnetwork.cz </a>.
	</p>
	<p class="fs-5">
		Je postavena na jazyce C# a využívá technologii ASP.NET 7 Core MVC.
		Cílem projektu bylo implementovat kompletní správu (CRUD) pojištěnců, jejich pojištění a pojistných událostí,
		s funkcionalitou uživatelských rolí (pojištěný, administrátor) pro definování přístupu k různým datům a podporou SQL databáze.
	</p>
	<p class="fs-5">
		Admin má oprávnění pro vytváření, editaci a mazání pojištěnců, pojištění a pojistných událostí.
		Uživatelé mohou měnit své nastavení a prohlížet (číst) pojištění a pojistné události.
		Aplikace je naprogramována podle dobrých praktik, s plnou responzivitou.
	</p>
	<p class="fs-5">
		Jméno firmy, adresa, telefonní číslo a její pojištěnci uvedené v aplikaci jsou smyšlené a slouží pouze pro demonstrační účely.
	</p>
	<p class="fs-5">
		Využijte uvedené přihlašovací údaje pro přístup k administrátorskému účtu.
	</p>
	<ul class="fs-5">
		<li>email: admin@test.cz</li>
		<li>heslo: Admin1!</li>
	</ul>
		<p class="fs-5">
			Můžete také použít přihlašovací údaje ukázkových pojištěnců vygenerovaných seederem.
		</p>
		<ul class="fs-5">
			<li>email: tomas.vesely@test.cz</li>
			<li>heslo: Vesely1.</li>
		</ul>
		<ul class="fs-5">
			<li>email: lucie.novotna@test.cz</li>
			<li>heslo: Novotna1.</li>
		</ul>
		<ul class="fs-5">
			<li>email: eva.konecna@test.cz</li>
			<li>heslo: Konecna1.</li>
		</ul>
		<ul class="fs-5">
			<li>email: martin.dvorak@test.cz</li>
			<li>heslo: Dvorak1.</li>
		</ul>


	<p class="fs-6 pe-5 text-end">
		Michal Bednařík 2023
	</p>
	</div>
</div>